html,
body {
    inset: 0;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

#siteWrap {
    position: absolute;
    background-color: #000923;
    inset: 0;
}

#headerWrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3rem;
    border: 1px solid #000000;
    /*background-image: linear-gradient(to bottom left, #ffffff, #7c7c7c);*/

}

#contentWrap {
    position: absolute;
    top: 3rem;
    bottom: 10rem;
    right: 0;
    left: 0;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

#footerWrap {
    position: absolute;
    color: #FFFFFF;
    text-shadow: -1px -1px #001f74, 1px 1px #001f74, -1px 1px #001f74, 1px -1px #001f74;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #001f74;
}

#taxiStats {
    display: none;
}

#leaflet {
    display: none;
}

#notesResources {
    display: none;
}

.iconSpace {
    padding-right: 10px;
}

.dropShadow {
    box-shadow: 0 3px 10px #000000;
}

.header {
    top: 3rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    height: 5rem;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("./images/headerbg.png");
    background-size: 100% 100%;
    font-style: italic;
    font-size: 1rem;
    text-shadow: -1px -1px #001f74, 1px 1px #001f74, -1px 1px #001f74, 1px -1px #001f74;
}

.header2 {
    color: #ffffff;
    padding-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #001f74;
    text-shadow: -1px -1px #000000, 1px 1px #000000, -1px 1px #000000, 1px -1px #000000;

}

.header3 {
    padding-left: 1.5rem;
    color: #ffffff;
    background-color: #8eacff;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    /*
    text-shadow: -1px -1px #000000, 1px 1px #000000, -1px 1px #000000, 1px -1px #000000;
    */
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 4rem;
    color: #000000;
}

.desc {
    color: #000000;
    background-color: #cbe7ff;
    padding-left: 5rem;
}

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

a:hover {
    font-style: italic;
}

.bg1 {
    background-color: #ffffff
}

.bg2 {
    background-color: #a3d4ff;
    border-bottom: 1px solid black;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}