@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body,
html {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#siteWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25px 1fr;
}

#mapWrap {
    outline: 2px solid black;
    outline-offset: -2px;
    width: 100%;
    height: 60vh;
}

#dataTable {
    outline: 2px solid black;
    outline-offset: -2px;
    width: 100%;
    height: 40vh;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#coordDisplay {
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

#dateWrapRight {
    outline: 2px solid black;
    outline-offset: -2px;
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#varDisplay {
    padding: 5px;
    outline: 2px solid black;
    outline-offset: -2px;
    width: 100%;
    height: 50%;
}

#routeDisplay {
    padding: 5px;
    outline: 2px solid black;
    outline-offset: -2px;
    width: 100%;
    height: 50%;
}

#map {
    border: 2px;
    width: 100%;
    height: 100%;
}

.title {
    outline: 1px solid black;
    outline-offset: -1px;
}

.coords {
    outline: 1px solid black;
    outline-offset: -1px;
    font-weight: bold;
}