#dataReportWrap {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 8.05rem;
    bottom: 4rem;
    width: 2rem;
    display: grid;
    grid-template-areas:
        'totalsWrap'
        'mapWrap';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#idBtnTotals {}

#totalsWrap {
    display: grid;
    grid-template-areas:
        'reportItem     reportTotals';
    grid-template-columns: 1fr 1fr;
    position: relative;
    border: 1px solid black;
    right: 0;
}

#idBtnMap {}

#mapWrap {
    display: grid;
    grid-template-areas:
        'reportItem     reportMap';
    grid-template-columns: 1fr 1fr;
    position: relative;
    border: 1px solid black;
    right: 0;
}

#idReportTotals {
    top: 0;
    bottom: 0;
}

.report {
    top: 8.2rem;
    bottom: 4rem;
    width: 100vw;
    left: 0;
    border: rgb(0, 255, 0);
}



.reportItem {
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 175, 175);
    color: rgba (0, 0, 0, 0.1);
}

.reportItem:hover {
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 255, 184);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(255, 183, 0), -3px -3px 10px rgb(255, 183, 0), 3px -3px 10px rgb(255, 183, 0), -3px 3px 10px rgb(255, 183, 0);
}