#dataViewWrap {
    z-index: 0;
    position: fixed;
    top: 8rem;
    left: 2rem;
    right: 2rem;
    padding: 4px;
    margin: 0;
}

#viewMain {
    grid-column-start: 2;
    grid-column-end: 2;
}


#viewMainHeaders {
    display: grid;
    grid-template-areas: 'run    expcon  time startAdd   totalMeter';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#viewMainData {
    grid-column-start: 2;
    grid-column-end: 2;
}

.viewMainRowInfo {
    display: grid;
    grid-template-areas:
        'run    expcon  time startAdd   totalMeter';
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.viewMainDetailsInfo {
    grid-column-start: 2;
    grid-column-end: 2;
}

.viewMainDetailsHide {
    display: none;
}

.viewMainDetailsShow {
    display: block;
}