#dataViewWrap {
    z-index: 0;
    position: fixed;
    top: 8rem;
    left: 2rem;
    right: 2rem;
    padding: 4px;
    margin: 0;
}

#viewMain {
    grid-column-start: 2;
    grid-column-end: 2;
}


#viewMainHeaders {
    display: grid;
    grid-template-areas: 'run    expcon startAdd   totalMeter';
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
}

#viewMainData {
    grid-column-start: 2;
    grid-column-end: 2;
}

.viewMainRowInfo {
    display: grid;
    gap: 2px;
    grid-template-areas:
        'run    expcon  startAdd   totalMeter';
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
    font-size: 0.7rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
}

.viewMainDetailsInfo {
    font-size: 0.5rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    display: grid;
    grid-template-areas:
        'label      viewMainDestinationAdd',
        'label      viewMainArrival',
        'label      viewMainDuration',
        'label      viewMainDolPerKm',
        'label      viewMainFareType',
        'label      viewMainTip';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.viewMainDetailsHide {
    display: none;
}

.viewMainDetailsShow {
    display: grid;
}

.headerStyle {
    font-size: 1rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    gap: 2px;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
}

.label {
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: rgb(200, 200, 200);
    font-size: 0.8rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
}

.info {
    border-bottom: 1px solid rgb(150, 150, 150);
    background-color: rgb(225, 225, 225);
    font-size: 0.7rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}