#map {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 75vw;
    height: 75vh;
}

#wrap {
    position: absolute;
    bottom: 40px;
}