#idHeaderDate {
    background-color: black;
    color: rgb(255, 255, 255);
}

#idHeaderOdometer {
    background-color: black;
    color: rgb(255, 255, 255);
}

#idHeaderDriver {}

#idHeaderBroker {}

#idHeaderGas {}

#idHeaderLitresPer {}

#idHeaderDispatcher {}

.headerDispatch {
    grid-column: span 2;
    border-bottom: 2px solid;
}

.headerText {
    display: flex;
    align-items: center;
}

.headerContent {
    position: absolute;
    display: grid;
    width: 100%;
    top: 0;
    grid-template-areas:
        'headerDate         headerOdometer'
        'headerDriver       headerBroker'
        'headerGas          headerLitresPer'
        'headerDispatch';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 1rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
}