html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    outline: 1px solid;
    outline-offset: -1px;
}

#siteWrap {
    position: fixed;
    inset: 0;
    /*TEMP*/
    outline-color: indianred;
}

#headerWrap {
    position: absolute;
    inset: 0;
    height: 3rem;
    /*TEMP*/
    outline-color: aqua;
}

#menuWrap {
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    width: 2.5rem;
    /*TEMP*/
    outline-color: pink;
}

#reportWrap {
    position: absolute;
    top: 3rem;
    bottom: 3rem;
    right: 0;
    width: 2.5rem;
    /*TEMP*/
    outline-color: black;
}

#viewWrap {
    position: fixed;
    inset: 3rem 2.5rem 3rem 2.5rem;

    /*TEMP*/
    outline-color: crimson;
}

#footerWrap {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3rem;
    /*TEMP*/
    outline-color: blueviolet;
}