#idMenuAdd {
    position: absolute;
    top: 2px;
    background-color: white;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#idMenuUpdate {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;

}

#idMenuEdit {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#idMenuEod {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#addWrap {
    position: absolute;
    z-index: 0;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
    width: 300px;
    height: 100px;
    left: 500px;
    display: grid;
    grid-template-areas:
        'idMenuAddRun'
        'idMenuAddExpense';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    animation: swipeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#updateWrap {}

#editWrap {}

#eodWrap {}

.menuText {}

.doubleMenu {
    z-index: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(127deg, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 43%, rgba(255, 255, 255, 1) 54%, rgba(230, 230, 230, 1) 85%, rgba(220, 220, 220, 1) 100%);
}

.menuDisplay {}

.menuItem {
    font-size: 1.3rem;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.material-icons.md-dark {
    color: rgba (0, 0, 0, 0.1);
}

.material-icons.md-dark:hover {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(255, 183, 0), -3px -3px 10px rgb(255, 183, 0), 3px -3px 10px rgb(255, 183, 0), -3px 3px 10px rgb(255, 183, 0);

}

@keyframes swipeInAnimation {

    from {
        left: -3000px;
    }

    to {
        left: 40px;
    }
}