#idMenuAdd {
    z-index: 0;
    top: 2px;
    background-color: white;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#idMenuUpdate {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;

}

#idMenuEdit {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#idMenuEod {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom,
            white,
            rgb(200, 200, 200),
            rgba(0, 0, 0, 0)) 1 100%;
}

#addWrap {
    position: absolute;
    border: 1px solid blue;
    width: 300px;
    left: 500px;
    animation: swipeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#updateWrap {}

#editWrap {}

#eodWrap {}

.menuText {}

.doubleMenu {
    font-size: 1rem;
}

.menuDisplay {}

.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.material-icons.md-dark {
    color: rgba (0, 0, 0, 0.1);
}

.material-icons.md-dark:hover {
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 10px rgb(255, 183, 0), -3px -3px 10px rgb(255, 183, 0), 3px -3px 10px rgb(255, 183, 0), -3px 3px 10px rgb(255, 183, 0);

}

@keyframes swipeInAnimation {
    from {
        left: -3000px;
    }

    to {
        left: 3rem;
    }
}