/* Add menu ID and classes */
/* -- Menu --*/
#add.menuAdd {
    /* Menu Add postioning */
    position: absolute;
    width: 150px;
    left: -150px;
    height: 70px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

/*-- Button --*/
#add.btnAdd {
    /* Add button postioning */
    position: absolute;
    top: -1px;
    width: 50px;
    left: 150px;
    height: 70px;
    cursor: pointer;

    /* Background Style*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for add button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for add button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Add Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

/*-- Hide --*/
#add.hideAdd {
    left: -150px;
}

/*-- Show --*/
#add.showAdd {
    left: 0;
}

/*------------------------------------------------------------------------------------------------------------------*/

/* Update menu ID and classes */
/* -- Menu --*/
#update.menuUpdate {
    /* Menu Add postioning */
    position: absolute;
    top: 80px;
    width: 150px;
    left: -150px;
    height: 70px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

/*-- Button --*/
#update.btnUpdate {
    /* Update button postioning */
    position: absolute;
    top: -1px;
    width: 50px;
    left: 150px;
    height: 70px;
    cursor: pointer;

    /* Background Style*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for Update button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for update button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Update Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

/*-- Hide --*/
#update.hideUpdate {
    left: -150px;
}

/*-- Show --*/
#update.showUpdate {
    left: 0;
}

/*------------------------------------------------------------------------------------------------------------------*/

/* Edit menu ID and classes */
/* -- Menu --*/
#edit.menuEdit {
    /* Menu postioning */
    position: absolute;
    top: 150px;
    width: 150px;
    left: -150px;
    height: 70px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

/*-- Button --*/
#edit.btnEdit {
    /* Button postioning */
    position: absolute;
    top: -1px;
    width: 50px;
    left: 150px;
    height: 70px;
    cursor: pointer;

    /* Background Style*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

/*-- Hide --*/
#edit.hideEdit {
    left: -150px;
}

/*-- Show --*/
#edit.showEdit {
    left: 0;
}

/*------------------------------------------------------------------------------------------------------------------*/

/* EOD menu ID and classes */
/* -- Menu --*/
#eod.menuEod {
    /* Menu postioning */
    position: absolute;
    top: 220px;
    width: 150px;
    left: -150px;
    height: 70px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

/*-- Button --*/
#eod.btnEod {
    /* Button postioning */
    position: absolute;
    top: -1px;
    width: 50px;
    left: 150px;
    height: 70px;
    cursor: pointer;

    /* Background Style*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

/*-- Hide --*/
#eod.hideEod {
    left: -150px;
}

/*-- Show --*/
#eod.showEod {
    left: 0;
}

/*------------------------------------------------------------------------------------------------------------------*/

/* Totals menu ID and classes */
/* -- Menu --*/
#totals.menuTotals {
    /* Menu Totals positioning */
    position: fixed;
    right: -300px;
    width: 300px;
    height: 500px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

#totals.btnTotals {
    /* Totals button Positioning */
    position: absolute;
    top: -1px;
    width: 50px;
    right: 301px;
    height: 70px;
    cursor: pointer;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for Totals button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for menu button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Addition Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

#totals.showTotals {
    right: 0;
}

#totals.hideTotals {
    right: -300px;
}