#menu {
    position: absolute;
    width: 150px;
    height: auto;
    background-image: linear-gradient(to bottom right, rgb(168, 145, 244), rgb(169, 229, 255));
    left: -150px;
    transition: 1.5s;

    /* Border for entire menu */
    border-width: 3px;
    border-style: solid;
    border-color: rgb(55, 40, 141);
    border-radius: 0 15px 15px 0;

    /* Shadow for whole menu */
    box-shadow: 0 0 30px rgb(178, 155, 255);
}

#menu.active {
    left: 0;
}

#menu ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    padding: 5px 5px;

    /* Borders */
    border: 1px;
}

#menu .btnMenu {
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(168, 145, 244), rgb(169, 229, 255));
    width: 50px;
    top: 10px;
    left: 151px;
    height: 40px;

    /* Border for menu button */
    border-width: 3px;
    border-style: solid;
    border-color: rgb(55, 40, 141);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    /* Shadow for menu button */
    box-shadow: 0 0 30px rgb(168, 145, 244);
}

.btnMenu span {
    width: 40px;
    height: 5px;
    background: white;
    display: block;
    margin: 3px;

    /* Menu Bars Outline */
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
}