#menu {
    position: absolute;
    width: 150px;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(230, 230, 230));
    left: -15px;
    transition: 1.5s;

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    /*border-radius: 0 15px 15px 0;*/

    /* Shadow for whole menu */
    box-shadow: 0 0 30px rgb(214, 214, 214);
}

#menu.activateMenu {
    left: 0;
}

#menu.deactivateMenu {
    left: -150px;
}

#menu ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    padding: 5px 5px;

    /* Borders */
    border: 1px;
}

#menu .addRun {
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(230, 230, 230));
    width: 50px;
    top: 0px;
    left: 150px;
    height: 70px;
    cursor: pointer;

    /* Border for menu button */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(168, 168, 168);
    /*border-bottom-right-radius: 10px;
    border-top-right-radius:
    10px;*/

    /* Shadow for menu button */
    box-shadow: 0 0 30px rgb(214, 214, 214);

    /* Font for Addition Symbol */
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgb(168, 168, 168);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}