* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    position: absolute;
    width: 300px;
    height: auto;
    background: black;
    left: -300px;
}

menu.active {
    left: 0;
}

#menu ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

#menu .btnMenu {
    position: absolute;
    top: 30px;
    left: 330px;
}

.btnMenu span {
    width: 45px;
    height: 4px;
    background: black;
    display: block;
    margin-top: 4px;
}

=