#totals {
    position: absolute;
    right: -350px;
    width: 350px;
    height: 500px;

    background-image: linear-gradient(to bottom right, rgb(168, 145, 244), rgb(169, 229, 255));
    transition: 1.5s;

    /* Border for entire Totals */
    border-width: 3px;
    border-style: solid;
    border-color: rgb(55, 40, 141);
    border-radius: 15px 0 0 15px;

    /*Shadow for whole menu */
    box-shadow: 0 0 30px rgb(168, 145, 244);
}

#totals.active {
    right: 0px;
}

#totals .btnTotals {
    position: absolute;
    width: 50px;
    top: 60px;
    right: 351px;
    height: 40px;
    background-image: linear-gradient(to bottom right, rgb(168, 145, 244), rgb(169, 229, 255));


    /* Border for Totals button */
    border-width: 3px;
    border-style: solid;
    border-color: rgb(55, 40, 141);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    /* Shadow for Totals button*/
    box-shadow: 0 0 30px rgb(168, 145, 244);
}


.btnTotals span {
    width: 40px;
    height: 30px;
    background: white;
    display: block;
    margin: 3px;

    /* Menu Bars Outline */
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
}

*/