/* Entire table class */
#fareTable {
    margin: 0;
    padding: 0;
}

.space {
    background-color: white;
}

#gridHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: rgb(230, 230, 230);
}

#gridHeaderLayout {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'space index    expcon  time    startadd    runtotal    space';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto;
}

.headerStyle {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

.index {}

.expcon {}

.time {}

.startadd {}

.runtotal {}

#gridInfo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    padding-top: 1px;
}

#gridInfoLayout {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'space index    expcon  time    startadd    runtotal    space';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto;
}

.infoStyle {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

.index {}

.expcon {}

.expcon:hover {
    background-color: rgb(205, 240, 247);
    cursor: pointer;
}

.time {}

.startadd {}

.runtotal {}

#gridDetails {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
    padding-top: 1px;
}

#gridDetailsLayout {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'space      space      space        detailsEndTime      detailsDestination      detailsFareTotal        space'
        'space      space      space        detailsTotalTime    detailsDistance         detailsDollarsPerKm     space'
        'space      space      space        space               detailsFareType         detailsTips             space';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto auto auto;
}

.detailsStyle {
    background-color: rgb(205, 240, 247);
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.detailsDestination {}

.detailsFareTotal {}

.detailsTotalTime {}

.detailsDistance {}

.detailsDollarsPerKm {}

.detailsFareType {}

.detailsTips {}