/* Entire table class */
#fareTable {
    margin: 0;
    padding: 0;
}

#gridHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: rgb(230, 230, 230);
}

#gridHeader.gridHeaderWrapper {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'spaceleft index    expcon  time    startadd    runtotal    spaceright';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto;
}

#gridHeader.spaceleft {
    width: 3.5rem;
}

#gridHeader.index {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

#gridHeader.expcon {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

#gridHeader.time {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

#gridHeader.startadd {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

#gridHeader.runtotal {
    background-color: rgb(44, 134, 161);
    display: flex;
    justify-content: center;
}

#gridHeader.spaceright {
    width: 3.3rem;
}

#gridInfo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    padding-top: 1px;
}

#gridInfo.gridInfoWrapper {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'spaceleft index    expcon  time    startadd    runtotal    spaceright';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto;
}

#gridInfo.spaceleft {
    width: 3.3rem;
}

#gridInfo.index {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

#gridInfo.expcon {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

#gridInfo.expcon:hover {
    background-color: rgb(205, 240, 247);
    cursor: pointer;
}

#gridInfo.time {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

#gridInfo.startadd {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

#gridInfo.runtotal {
    background-color: rgb(158, 208, 223);
    display: flex;
    justify-content: center;
}

#gridInfo.spaceright {
    width: 3.3rem;
}

#gridDetails {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5rem;
    padding-top: 1px;
}

#gridDetails.gridDetailsWrapper {
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-areas:
        'spaceleft  spaceleft  spaceleft    detailsEndTime      detailsDestination      detailsFareTotal        spaceright'
        'spaceleft  spaceleft  spaceleft    detailsTotalTime    detailsDistance         detailsDollarsPerKm     spaceright'
        'spaceleft  spaceleft  spaceleft    spaceleft           detailsFareType         detailsTips             spaceright';
    grid-template-columns:
        3.3rem 1fr 1fr 3fr 6fr 2fr 3.3rem;
    grid-template-rows: auto auto auto;
}

#gridDetails.hide {
    display: none;
}

#gridDetails.show {
    display: block;
}

#gridDetails.spaceleft {
    background-color: white;
}

#gridDetails.detailsEndTime {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsDestination {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsFareTotal {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsTotalTime {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsDistance {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsDollarsPerKm {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsFareType {
    background-color: rgb(205, 240, 247);
}

#gridDetails.detailsTips {
    background-color: rgb(205, 240, 247);
}

#gridDetails.spaceright {
    width: 3.3rem;
}