.span {
    top: 0;
}

a:link,
a:visited,
a:active {
    color: rgb(150, 150, 150);
    text-shadow: 1px 1px rgb(185, 185, 185), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: rgb(150, 150, 150);
    text-shadow: 1px 1px rgb(185, 185, 185), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}


.btnStyle {
    position: absolute;
    top: 0;
    width: 50px;
    left: 149px;
    height: 70px;
    cursor: pointer;

    /* Background Style*/
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for Update button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for update button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Update Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

.menuStyle {
    position: absolute;
    width: 150px;
    left: -150px;
    height: 70px;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(150, 150, 150);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

.halfMenu {
    height: 50%;
    outline: rgb(150, 150, 150) inset 1px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.halfMenu:hover {
    box-shadow: 2px 2px 7px rgb(150, 150, 150);
    text-shadow: none;
    cursor: pointer;
}

.oneMenu {
    height: 100%;
    outline: rgb(150, 150, 150) inset 1px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.oneMenu:hover {
    box-shadow: 2px 2px 7px rgb(150, 150, 150);
    text-shadow: none;
    cursor: pointer;
}

#add {
    top: -1px;
}

#update {
    top: 71px;
}

#edit {
    top: 140px;
}

#eod {
    top: 210px;
}

/*-- Hide --*/
.hideAdd {
    left: -150px;
}

/*-- Show --*/
.showAdd {
    left: 0;
}

/*-- Hide --*/
.hideUpdate {
    left: -150px;
}

/*-- Show --*/
.showUpdate {
    left: 0;
}

/*-- Hide --*/
.hideEdit {
    left: -150px;
}

/*-- Show --*/
.showEdit {
    left: 0;
}

/*-- Hide --*/
.hideEod {
    left: -150px;
}

/*-- Show --*/
.showEod {
    left: 0;
}

#totals {}

.totalsStyle {
    /* Menu Totals positioning */
    position: fixed;
    right: -298px;
    width: 300px;
    height: 100%;

    /* Menu Effect */
    transition: 0.5s;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for entire menu */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: #000;
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

.btnTotals {
    /* Totals button Positioning */
    position: absolute;
    top: -1px;
    width: 50px;
    right: 300px;
    height: 70px;
    cursor: pointer;

    /* Background Style */
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(185, 185, 185));

    /* Border for Totals button */
    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
    border-left-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for menu button */
    box-shadow: 2px 2px 7px rgb(150, 150, 150);

    /* Font for Addition Symbol */
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(168, 168, 168), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: normal;
}

.showTotals {
    right: 0px;
}

.hideTotals {
    right: -303px;
}

#totalsWrapper {
    position: fixed;
}

.totalsHeader {
    margin-top: 0.5rem;
    height: 1.5rem;
    outline: rgb(150, 150, 150) inset 1px;
    background-color: aliceblue;

    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(150, 150, 150);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);

    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(185, 185, 185), -1px -1px rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;

    text-align: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.totalsContent {
    height: 1.5rem;
    outline: rgb(0, 0, 0, ) inset 1px;

    color: rgb(150, 150, 150);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;

    text-align: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.totalsFooter {
    height: 1.5rem;
    outline: rgb(150, 150, 150) inset 1px;

    border-width: 1px;
    border-style: solid;
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(150, 150, 150);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);

    /* Shadow for whole menu */
    box-shadow: 2px 2px 5px rgb(150, 150, 150);

    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;

    text-align: left;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}