#siteWrap {
    padding: 0;
    margin: 0;
    width: 100%;
}

#menuWrap {
    padding: 0;
    margin: 0;
}

#totalsWrap {
    padding: 0;
    margin: 0;
}

html body {
    /* Font settings for menu */
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}